:root {
    font-family: "Parisienne", "Open Sans", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: white;
}
#body-main {
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
}
#center {
    display: flex;
    margin: 5rem auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
#title {
    font-size: 2rem;
}
#sub-title {
    font-size: 1.25rem;
}
#img-div {
    margin: 2rem;
}
#img-main {
    width: 10rem;
    height: 10rem;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 50%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}